<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <style>
      body {
        margin-top: 5%; /* 上側のマージン */
        margin-bottom: 5%; /* 下側のマージン */
      }
    </style>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>

    {% block body %}

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">

          <div class="card">
            <div class="card-header">
              <strong>Menu</strong>
            </div>
            <div class="card-body">
              <ul class="list-group">
                {% if user.is_authenticated %}
                <li class="list-group-item"><a href="{% url 'account_email' %}" class="btn btn-outline-primary btn-block">メールアドレス変更</a></li>
                <li class="list-group-item"><a href="{% url 'account_logout' %}" class="btn btn-outline-danger btn-block">サインアウト</a></li>
                {% else %}
                <li class="list-group-item"><a href="{% url 'account_login' %}" class="btn btn-outline-primary btn-block">ログイン</a></li>
                <li class="list-group-item"><a href="{% url 'account_signup' %}" class="btn btn-outline-success btn-block">新規登録</a></li>
                {% endif %}
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>

    {% block content %}
    {% endblock %}

    {% if messages %}
    <div class="container">
      <div class="alert alert-primary" role="alert">
        <strong>Messages:</strong>
        <ul>
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
    
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
